.accounttable {
    display: inline-block;
    width: 600px;
}

.resource_str {
    position: absolute;
}

td {
}

#countDown {
    text-align: center;
    margin-bottom: 10px;
}

body {
    text-align: center;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.wrapper button {
    position: absolute;
    right: 5px;
}